@{
    ViewData["Title"] = "Interactive Monuments";
}

<div class="text-center">
    <h1 class="display-4">Interactive Monuments</h1>
    <p>Interact with monuments in your city.</p>



    <div class="imgcontainer">
        <div class="color-overlay" id="overlay" style="background: @Startup.Color"></div>
    </div>

</div>
